<section class="container row--spacer">

  <div>
    <h2 class="subtitle">Select your plan</h2>
    <i class="subtitle__small">Multiple memberships must be purchased individually</i>
  </div>

  <div *ngIf="home">
    <div class="row ">
      <div class="col-2-of-4">
        <div [class.active]="membership?.number == 0" class="membership row " (click)="setPayload(0)">
          <div class="membership__flex">
            <div>
              <h4 class="membership__package-name">6 months support</h4>
              <button class="membership__buy-button">Select</button>
            </div>
            <strong class="membership__price">$25
              <br>
              <small>per month</small>
            </strong>

          </div>

        </div>
      </div>



      <div class="col-2-of-4">
        <div [class.active]="membership?.number == 1" class="membership membership--blue row " (click)="setPayload(1)">
          <div class="membership__flex">
            <div>
              <h4 class="membership__package-name">12 months support</h4>
              <button class="membership__buy-button">Select</button>
            </div>
            <strong class="membership__price">$10
              <br>
              <small>per month</small>
            </strong>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <button (click)="onProceed()" [class.button--checkout-active]="membership?.selected" class="button--checkout">
        <span>Proceed to pay</span>
        <i class="icon-arrow-right"></i>
      </button>
    </div>


  </div>

</section>
