<!-- <app-header theme="transparent"></app-header> -->
<app-navigation></app-navigation>

<section>
  <div class="hero">


    <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
      y="0px" viewBox="0 0 622 425.2" style="enable-background:new 0 0 622 425.2;" xml:space="preserve">
      <style type="text/css">
        .pad1 {
          fill: url(#pad1);
        }

        .pad2 {
          fill: url(#pad3);
        }

      </style>
      <linearGradient id="pad1" gradientUnits="userSpaceOnUse" x1="-0.2" y1="378" x2="-0.2" y2="378">
        <stop offset="0" style="stop-color:#352E66" />
        <stop offset="1" style="stop-color:#404D97" />
      </linearGradient>
      <path class="pad1" d="M-0.2,378" />
      <linearGradient id="pad3" gradientUnits="userSpaceOnUse" x1="249.7537" y1="473.7935" x2="352.0495" y2="-52.4731">
        <stop offset="0" style="stop-color:#352E66" />
        <stop offset="1" style="stop-color:#404D97" />
      </linearGradient>
      <polygon class="pad2" points="-0.2,425.2 622,317.4 622,0 0,0 " />
    </svg>




    <div class="hero__float">
      <div class="row">
        <h1>Affordable heathcare</h1>
        <h2>Save up to 80% on major surgeries with reputable doctors in Mexico.
          <small>Receive unlimited support from our licensed healthcare professionals. </small>
        </h2>
      </div>
    </div>
  </div>
</section>




<section>
  <div class="row our-mission">
    <h6 class="subtitle">OUR MISSION</h6>
    <div class="container--flex">

      <i class="icon-quote-left-solid"></i>
      <p class="subtitle--h4">
        We are a group of surgeons with decades of experience and one goal in common -- to provide the most affordable
        and high quality healthcare for everyone
      </p>
      <i class="icon-quote-right-solid"></i>
    </div>
  </div>
</section>



<section>
  <div class="row background-shape">
    <div class="icon__container--center">
      <i class="icon--green-center icon-prescription-bottle"></i>
    </div>
    <h3 class=" subtitle">
      HOW SURGERY CARE WORKS
    </h3>
    <i class="subtitle__small">We offer unlimited consultations from higly experienced surgeons and specialists</i>


    <div class="container--flex">

      <div class="col-2-of-4 container--flex--white purple-card">
        <h3 class="heading--green">OUR DOCTORS MAKE ALL THE DIFFERENCE</h3>
        <p>
          <span>
            <i class="">
              <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 992 992" style="width: 2rem;">
                <defs>
                  <style>
                    .cls-1 {
                      fill: #00ce6b;
                    }

                    .cls-2 {
                      fill: #089b51;
                    }

                  </style>
                </defs>
                <title>success</title>
                <path class="cls-1" d="M512,16C238.07,16,16,238.07,16,512s222.07,496,496,496,496-222.07,496-496S785.93,16,512,16ZM795.26,394.08l-361,358.06a24,24,0,0,1-33.94-.13L228.6,578.86a24,24,0,0,1,.14-33.94l17-16.9a24,24,0,0,1,33.94.14l138,139.06L744.55,343a24,24,0,0,1,33.94.14l16.91,17a24,24,0,0,1-.14,33.94Z"
                  transform="translate(-16 -16)" />
                <path class="cls-2" d="M795.26,394.08l-361,358.06a24,24,0,0,1-33.94-.13L228.6,578.86a24,24,0,0,1,.14-33.94l17-16.9a24,24,0,0,1,33.94.14l138,139.06L744.55,343a24,24,0,0,1,33.94.14l16.91,17a24,24,0,0,1-.14,33.94Z"
                  transform="translate(-16 -16)" />
              </svg>
            </i>
            Over 100+ licensed healthcare professionals </span>
        </p>
        <p>
          <span>
            <i>
              <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 992 992" style="width: 2rem;">
                <defs>
                  <style>
                    .cls-1 {
                      fill: #00ce6b;
                    }

                    .cls-2 {
                      fill: #089b51;
                    }

                  </style>
                </defs>
                <title>success</title>
                <path class="cls-1" d="M512,16C238.07,16,16,238.07,16,512s222.07,496,496,496,496-222.07,496-496S785.93,16,512,16ZM795.26,394.08l-361,358.06a24,24,0,0,1-33.94-.13L228.6,578.86a24,24,0,0,1,.14-33.94l17-16.9a24,24,0,0,1,33.94.14l138,139.06L744.55,343a24,24,0,0,1,33.94.14l16.91,17a24,24,0,0,1-.14,33.94Z"
                  transform="translate(-16 -16)" />
                <path class="cls-2" d="M795.26,394.08l-361,358.06a24,24,0,0,1-33.94-.13L228.6,578.86a24,24,0,0,1,.14-33.94l17-16.9a24,24,0,0,1,33.94.14l138,139.06L744.55,343a24,24,0,0,1,33.94.14l16.91,17a24,24,0,0,1-.14,33.94Z"
                  transform="translate(-16 -16)" />
              </svg>
            </i>
            Highly trained surgeons, dermatologists, therapists, and more </span>
        </p>
        <p>
          <span>
            <i class="">
              <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 992 992" style="width: 2rem;">
                <defs>
                  <style>
                    .cls-1 {
                      fill: #00ce6b;
                    }

                    .cls-2 {
                      fill: #089b51;
                    }

                  </style>
                </defs>
                <title>success</title>
                <path class="cls-1" d="M512,16C238.07,16,16,238.07,16,512s222.07,496,496,496,496-222.07,496-496S785.93,16,512,16ZM795.26,394.08l-361,358.06a24,24,0,0,1-33.94-.13L228.6,578.86a24,24,0,0,1,.14-33.94l17-16.9a24,24,0,0,1,33.94.14l138,139.06L744.55,343a24,24,0,0,1,33.94.14l16.91,17a24,24,0,0,1-.14,33.94Z"
                  transform="translate(-16 -16)" />
                <path class="cls-2" d="M795.26,394.08l-361,358.06a24,24,0,0,1-33.94-.13L228.6,578.86a24,24,0,0,1,.14-33.94l17-16.9a24,24,0,0,1,33.94.14l138,139.06L744.55,343a24,24,0,0,1,33.94.14l16.91,17a24,24,0,0,1-.14,33.94Z"
                  transform="translate(-16 -16)" />
              </svg>
            </i>
            15 years experience on average</span>
        </p>

      </div>
      <div class="col-2-of-4 container--flex--white purple-card">
        <h3 class="heading--green">HOW IT WORKS </h3>
        <p class=" ">
          <i class="bullet-number">
            <small>1.</small>
          </i><span class="marg-5"> Request a virtual visit with a doctor 24 hours a day, 365 days a year.</span>
        </p>
        <p>
          <i class="bullet-number">
            <small>2.</small>
          </i>
          <span class="marg-5"> Talk to the doctor. Ask as many questions as you need any time, any day -
            there’s no limit!</span>
        </p>
        <p>

          <i class="bullet-number">
            <small>3.</small>
          </i>
          <span class="marg-5">In case that you need a surgery, you will receive support to make your travel and
            recovery extremely easy.
          </span>
        </p>

      </div>
    </div>
  </div>
</section>

<section class="spacer-title">
  <h3 class=" subtitle">EFFICIENT HEALTHCARE</h3>
  <h4 class="subtitle--h4">
    Don't waste your time looking for doctors. Doctors will reach out to you, and all of your health-related questions
    will be answered by multiple doctors.</h4>
</section>


<section>
  <div class="container">
    <div class="row background-shape">
      <div class="icon__container--center">
        <i class="icon--green-center icon-apointments"></i>
      </div>
      <h2 class="subtitle">
        SURGERIES REASONABLY PRICED
      </h2>
      <i class="subtitle__small">WE OFFER THE BEST PRICES FROM THE MOST EXPERIENCED DOCTORS</i>


      <div class="container--flex">
        <div class="col-2-of-4 container--flex--white">
          <h3 class="heading--green">About the surgeries </h3>
          <p class=" small">
            <strong>How are we different?</strong>
            Based on your health condition and analysis, you will receive an estimated price for your surgery which
            will
            cover pre-surgery analysis, hospital stays, surgery, materials and post surgery medications.
          </p>
          <p class=" small">
            <strong>No copays, deductibles, extra charges or future bills after your surgery</strong>
          </p>
          <!-- <p class=" small">
            In case that you need a surgery you will be able to save up tp 80% of your surgery.
          </p> -->
          <p class=" small">
            On the following chart, you can see the difference in prices between the USA and Mexico.
          </p>

        </div>
        <div class="col-2-of-4">
          <h2 class="subtitle--switch">Price differences:</h2>
          <i>•</i>
          <h3 class="switch--link" (click)="switchIt(0)">Knee Prosthetic</h3>
          <h3 class="switch--link" (click)="switchIt(1)">Hip Replacement</h3>
          <h3 class="switch--link" (click)="switchIt(2)">Artery bypass</h3>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 113 91" style="enable-background:new 0 0 113 91;" xml:space="preserve">
            <style type="text/css">
              .st0 {
                fill: none;
                stroke: #CCCCCC;
                stroke-width: 0.15;
                stroke-miterlimit: 10;
                stroke-dasharray: 2;
              }

              .nofill {
                fill: none !important;
              }

              .st2 {
                font-family: 'ArialMT';
              }

              .st3 {
                font-size: 4px;
              }

              .st4 {
                fill: none;
                stroke: #E6E6E6;
                stroke-width: 0.4;
                stroke-miterlimit: 10;
              }

              .st5 {
                fill: none;
                stroke: #E6E6E6;
                stroke-width: 0.3;
                stroke-miterlimit: 10;
              }

              .st6 {
                opacity: 0.83;
                fill: #ED1C24;
                enable-background: new;
              }

              .st7 {
                opacity: 0.83;
                fill: #2E3192;
                enable-background: new;
              }

              .st8 {
                fill: #38C63F;
              }

              .st9 {
                font-size: .35rem;
              }

            </style>
            <line class="st0" x1="48.1" y1="13.7" x2="48.1" y2="89.5" />
            <line class="st0" x1="75.3" y1="13.7" x2="75.3" y2="89.5" />
            <title>new</title>
            <g id="Chart-Grid">
              <rect x="7.8" y="75.6" class="nofill" width="11.7" height="3.8" />
              <text transform="matrix(1 0 0 1 7.77 78.46)" class="st2 st3">5K</text>
              <rect x="7.8" y="65.6" class="nofill" width="11.7" height="3.8" />
              <text transform="matrix(1 0 0 1 7.77 68.46)" class="st2 st3">10K</text>
              <rect x="7.8" y="55.6" class="nofill" width="11.7" height="3.8" />
              <text transform="matrix(1 0 0 1 7.77 58.46)" class="st2 st3">15K</text>
              <rect x="7.8" y="45.6" class="nofill" width="11.7" height="3.8" />
              <text transform="matrix(1 0 0 1 7.77 48.46)" class="st2 st3">30K</text>
              <rect x="7.8" y="35.6" class="nofill" width="11.7" height="3.8" />
              <text transform="matrix(1 0 0 1 7.77 38.46)" class="st2 st3">50K</text>
              <rect x="7.8" y="25.6" class="nofill" width="11.7" height="3.8" />
              <text transform="matrix(1 0 0 1 7.77 28.46)" class="st2 st3">75K</text>
              <rect x="7.8" y="15.6" class="nofill" width="11.7" height="3.8" />
              <text transform="matrix(1 0 0 1 7.77 18.46)" class="st2 st3">100K</text>
              <line class="st0" x1="13.6" y1="69.5" x2="113" y2="69.5" />
              <line class="st0" x1="13.6" y1="79.5" x2="113" y2="79.5" />
              <line class="st0" x1="13.6" y1="59.5" x2="113" y2="59.5" />
              <line class="st0" x1="13.6" y1="49.5" x2="113" y2="49.5" />
              <line class="st0" x1="13.6" y1="39.5" x2="113" y2="39.5" />
              <line class="st0" x1="13.6" y1="29.5" x2="113" y2="29.5" />
              <line class="st0" x1="13.6" y1="19.5" x2="113" y2="19.5" />
              <line class="st4" x1="6.5" y1="16.5" x2="6.5" y2="89.5" />
              <line class="st4" x1="6.3" y1="89.5" x2="108.8" y2="89.5" />
              <line class="st5" x1="2.1" y1="79.5" x2="11.9" y2="79.5" />
              <line class="st5" x1="2.1" y1="69.5" x2="11.9" y2="69.5" />
              <line class="st5" x1="2.1" y1="59.5" x2="11.9" y2="59.5" />
              <line class="st5" x1="2.1" y1="49.5" x2="11.9" y2="49.5" />
              <line class="st5" x1="2.1" y1="39.5" x2="11.9" y2="39.5" />
              <line class="st5" x1="2.1" y1="29.5" x2="11.9" y2="29.5" />
              <line class="st5" x1="2.1" y1="19.5" x2="11.9" y2="19.5" />
            </g>
            <g id="chart1">
              <polygon *ngIf="selection == 0" class="st6" points="110,89.5 20.5,89.5 20.5,89.5 47,71.5 75.8,43.2 110,34.6 	" />
              <polygon *ngIf="selection == 0" class="st7" points="110,89.5 20.8,89.5 20.8,89.5 47,89.5 78.2,77.5 110,89.5 	" />

              <!-- === -->
              <polygon *ngIf="selection == 1" class="st6" points="107.98 89.5 18.44 89.5 18.44 89.5 44.98 65.62 73.81 39.5 107.98 30.41 107.98 89.5" />
              <polygon *ngIf="selection == 1" class="st7" points="107.98 89.5 18.76 89.5 18.76 89.5 44.98 89.5 76.19 73.85 107.98 89.5 107.98 89.5" />

              <!-- === -->
              <polygon *ngIf="selection == 2" class="st6" points="108.86 89.41 19.32 89.41 19.32 89.41 45.86 62.16 74.7 34.28 108.86 23.59 108.86 89.41" />
              <polygon *ngIf="selection == 2" class="st7" points="108.86 89.41 19.64 89.41 19.64 89.41 45.86 89.41 77.07 69.5 108.86 89.41 108.86 89.41" />
            </g>
            <line class="st0" x1="110" y1="13.7" x2="110" y2="89.5" />
            <circle class="st8" cx="48.2" cy="11.9" r="1.8" />
            <circle class="st8" cx="75.3" cy="11.9" r="1.8" />
            <circle class="st8" cx="110" cy="11.9" r="1.8" />
            <rect x="26.7" y="10.7" class="nofill" width="20" height="5.9" />
            <text transform="matrix(1 0 0 1 26.6666 13.5349)" class="st9 st3">Hospital</text>
            <rect x="50.3" y="10.7" class="nofill" width="21.6" height="5.9" />
            <text transform="matrix(1 0 0 1 54.646 13.5349)" class="st9 st3">Surgery</text>
            <rect x="81.2" y="10.7" class="nofill" width="27.7" height="5.9" />
            <text transform="matrix(1 0 0 1 81.2059 13.5349)" class="st9 st3">Estimated total</text>
          </svg>


        </div>
      </div>

    </div>
  </div>

</section>


<section class="container">
  <div class="row">
    <div class="icon__container--center">
      <i class="icon--green-center icon-apointments"></i>
    </div>
    <h3 class="subtitle">6 AND 12 MONTH MEMBERSHIPS</h3>
    <i class="subtitle__small">GET UNLIMITED SUPPORT FROM OUR DOCTORS</i>

    <div class="col-2-of-4">
      <div class="membership row ">
        <!-- <small class=" membership__info">Valid only for one surgery</small> -->
        <div class="membership__flex">
          <div>
            <h4 class="membership__package-name">Six months support</h4>
            <button routerLink="/payments" class="membership__buy-button">Buy Now</button>
          </div>


          <strong class="membership__price">$49
            <br>
            <small>per month</small>
          </strong>
          <!-- <small>This membership only includes support. Medication, surgery expenses and medication is not included</small> -->

        </div>

      </div>
    </div>

    <div class="col-2-of-4">
      <div class="membership membership--blue row ">

        <div class="membership__flex">
          <div>
            <h4 class="membership__package-name">12 months support</h4>
            <button routerLink="/payments" class="membership__buy-button">Buy Now</button>
          </div>

          <strong class="membership__price">$45
            <br>
            <small>per month</small>
          </strong>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="container background-shape">
  <div class="icon__container--center">
    <i class="icon--green-center icon-cog"></i>
  </div>
  <h3 class="subtitle">IN CASE YOU NEED A SURGERY</h3>
  <i class="subtitle__small">YOU WILL BE ASSISTED BEFORE, DURING AND AFTER THE SURGERY.</i>

  <div class="row ">

    <div class="how-it-works">

      <div class="how-it-works__steps ">
        <i class="how-it-works__triangle">
          <span>1</span>
        </i>
        <h2 class="heading--green">Decision making</h2>
        <p class="card__content small">
          After being in contact with one of our specialists and they conclude that
          you need a surgery, you will be provided with all the information about your procedure.
      </div>

      <div class="how-it-works__steps">
        <i class="how-it-works__triangle">
          <span>2</span>
        </i>
        <h2 class="heading--green">Receive cost</h2>
        <p class="card__content small">
          When you have received the approval, you will be provided with detailed
          information on the final price of your surgery, information about your travel, and travel recommendations.
        </p>
      </div>



      <div class="how-it-works__steps">
        <i class="how-it-works__triangle">
          <span>3</span>
        </i>
        <h2 class="heading--green">Get your Surgery</h2>
        <p class="card__content small">
          When it's time to get your surgery, our doctors will ensure you receive the best
          service and attention needed. You will provide them the dates that work for you, and our doctors will try
          to accommodate as best as possible.
        </p>
      </div>
    </div>

  </div>
</section>

<section>
  <div class="icon__container--center">
    <i class="icon--green-center icon-medic-service"></i>
  </div>
  <h2 class="subtitle">WHY CHOOSE OUR SERVICE?</h2>

  <div class="why-our-service row">
    <div class="col-2-of-4">
      <div class="row spacer white-card">
        <h3 class="heading--green">
          Surgeries are only a one time payment
        </h3>
        <p class="small">
          After purchasing your monthly membership, it’s only a one time payment which covers everything - surgical
          materials, hospital
          expenses, and
          doctor fees. Your travel expenses are not included.
        </p>
      </div>

      <div class="row spacer white-card">
        <h3 class="heading--green">
          No health insurance needed.
        </h3>
        <p class="small">
          No copays. No recurring bills. No need to spend a fortune on hospital fees.
        </p>
      </div>

      <div class="row spacer white-card">
        <h3 class="heading--green">
          Receive the best customer experience.
        </h3>
        <p class="small">
          Our patients’ satisfaction is extremely important to us. Need help? We've got your back!
        </p>
      </div>
    </div>
    <div class="col-2-of-4">
      <div class="why-our-service__svg">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
          y="0px" viewBox="0 0 595 713" style="enable-background:new 0 0 595 713;" xml:space="preserve">
          <style type="text/css">
            .st1 {
              fill: url(#SVGID_2_);
            }

          </style>
          <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="25.5219" y1="534.1224" x2="569.4781" y2="178.8776">
            <stop offset="0" style="stop-color:#3023AE" />
            <stop offset="1" style="stop-color:#C86DD7" />
          </linearGradient>
          <path class="st1" d="M10.1,248.1v216.7c0,51.4,25.7,99.4,68.6,127.8l134,88.9c51.4,34.1,118.2,34.1,169.6,0l134-88.9
               c42.8-28.4,68.6-76.4,68.6-127.8V248.1c0-51.4-25.7-99.4-68.6-127.8l-134-88.9c-51.4-34.1-118.2-34.1-169.6,0l-134,88.9
               C35.9,148.8,10.1,196.7,10.1,248.1z" />
        </svg>
        <div class="card--featured">
          <h2 class="heading--green heading--center">THE BEST SURGEONS</h2>
          <span class="text--center">
            <i class="icon-icon-star-large-yellow"></i>
            <i class="icon-icon-star-large-yellow"></i>
            <i class="icon-icon-star-large-yellow"></i>
            <i class="icon-icon-star-large-yellow"></i>
            <i class="icon-icon-star-large-yellow"></i>
          </span>
          <p class="text--center">We have the most experienced doctors do your surgeries.</p>
          <button class="button--action">SPECIALISTS AVAILABLE</button>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="row background-shape">
    <div class="icon__container--center">
      <i class="icon--green-center icon-doctor"></i>
    </div>
    <h3 class="subtitle">
      LIST OF QUALIFIED SPECIALISTS IN MEXICO
    </h3>
    <!-- <i class="subtitle__small"> LIST OF ALL OUR AVAILABLE SPECIALISTS</i> -->

    <div id="specialist" class="doctors-table">
      <table style="width:100%">
        <tr>
          <th>Surgeon</th>
          <th></th>
          <th class="text--right available-title">Available</th>
        </tr>

        <tr *ngFor="let surgery of surgeries">
          <td>{{surgery}}</td>
          <td class="table-text--right available"></td>
        </tr>
        <!-- <tr>
          <td>Orthopedic surgeon</td>
          <td>Hip Replacement</td>
          
        </tr> -->


      </table>
    </div>
  </div>

</section>


<section>
  <div class="row faq">
    <div class="icon__container--center">
      <i class="icon--green-center icon-plane"></i>
    </div>
    <h3 class="subtitle">
      QUESTIONS ABOUT COMING TO MEXICO?
    </h3>
    <i class="subtitle__small"> WE HAVE MANY YEARS OF EXPERIENCE TAKING CARE OF PATIENTS FROM OVERSEAS</i>


    <div id='questions' class="faq__container">
      <div #faq *ngFor="let item of questions" class="faq--is-hiden  faq--is-active" (click)="onToggle($event)">
        <h2 class="faq__question text--blue">{{item.question}} </h2>
        <div class="faq__wrap">
          <p class="faq__answers small">{{item.response}}</p>
        </div>
      </div>
    </div>
  </div>
</section>



<app-footer></app-footer>
