<!-- <app-header theme="transparent"></app-header> -->
<app-navigation></app-navigation>

<section>
  <div class="hero">


    <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <svg
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 622 425.2"
      style="enable-background:new 0 0 622 425.2;"
      xml:space="preserve"
    >
      <style type="text/css">
        .pad1 {
          fill: url(#pad1);
        }

        .pad2 {
          fill: url(#pad3);
        }

      </style>
      <linearGradient
        id="pad1"
        gradientUnits="userSpaceOnUse"
        x1="-0.2"
        y1="378"
        x2="-0.2"
        y2="378"
      >
        <stop
          offset="0"
          style="stop-color:#352E66"
        />
        <stop
          offset="1"
          style="stop-color:#404D97"
        />
      </linearGradient>
      <path
        class="pad1"
        d="M-0.2,378"
      />
      <linearGradient
        id="pad3"
        gradientUnits="userSpaceOnUse"
        x1="249.7537"
        y1="473.7935"
        x2="352.0495"
        y2="-52.4731"
      >
        <stop
          offset="0"
          style="stop-color:#352E66"
        />
        <stop
          offset="1"
          style="stop-color:#404D97"
        />
      </linearGradient>
      <polygon
        class="pad2"
        points="-0.2,425.2 622,317.4 622,0 0,0 "
      />
    </svg>




    <div class="hero__float">
      <div class="row">
        <h1>Affordable heathcare</h1>
        <h2>Save up to 80% on major surgeries at reputable hospitals in Mexico.
          <small>Receive unlimited support from our licensed healthcare professionals </small>
        </h2>
      </div>
    </div>
  </div>
</section>




<section>
  <div class="row our-mission">
    <h6 class="subtitle">OUR MISSION</h6>
    <div class="container--flex">

      <i class="icon-quote-left-solid"></i>
      <p class="subtitle--h4">
        We are a group of surgeons with decades of experience with one goal in common -- provide the most affordable
        and
        high quality
        healthcare for everyone
      </p>
      <i class="icon-quote-right-solid"></i>
    </div>
  </div>
</section>



<section>
  <div class="row background-shape">
    <div class="icon__container--center">
      <i class="icon--green-center icon-prescription-bottle"></i>
    </div>
    <h3 class=" subtitle">
      HOW SURGERY CARE WORKS
    </h3>
    <i class="subtitle__small">Unlimited consultations from our dashboard, surgeries performed in top hospitals in
      Mexico</i>


    <div class="container--flex">

      <div class="col-2-of-4 container--flex--white purple-card">
        <h3 class="heading--green">OUR DOCTORS MAKE ALL THE DIFFERENCE</h3>
        <p>
          <span>
            <i class="">
              <svg
                id="Layer_1"
                data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 992 992"
                style="width: 2rem;"
              >
                <defs>
                  <style>.cls-1{fill:#00ce6b;}.cls-2{fill:#089b51;}</style>
                </defs>
                <title>success</title>
                <path
                  class="cls-1"
                  d="M512,16C238.07,16,16,238.07,16,512s222.07,496,496,496,496-222.07,496-496S785.93,16,512,16ZM795.26,394.08l-361,358.06a24,24,0,0,1-33.94-.13L228.6,578.86a24,24,0,0,1,.14-33.94l17-16.9a24,24,0,0,1,33.94.14l138,139.06L744.55,343a24,24,0,0,1,33.94.14l16.91,17a24,24,0,0,1-.14,33.94Z"
                  transform="translate(-16 -16)"
                />
                <path
                  class="cls-2"
                  d="M795.26,394.08l-361,358.06a24,24,0,0,1-33.94-.13L228.6,578.86a24,24,0,0,1,.14-33.94l17-16.9a24,24,0,0,1,33.94.14l138,139.06L744.55,343a24,24,0,0,1,33.94.14l16.91,17a24,24,0,0,1-.14,33.94Z"
                  transform="translate(-16 -16)"
                />
              </svg>
            </i>
            Over 100+ licensed healthcare professionals </span>
        </p>
        <p>
          <span>
            <i>
              <svg
                id="Layer_1"
                data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 992 992"
                style="width: 2rem;"
              >
                <defs>
                  <style>.cls-1{fill:#00ce6b;}.cls-2{fill:#089b51;}</style>
                </defs>
                <title>success</title>
                <path
                  class="cls-1"
                  d="M512,16C238.07,16,16,238.07,16,512s222.07,496,496,496,496-222.07,496-496S785.93,16,512,16ZM795.26,394.08l-361,358.06a24,24,0,0,1-33.94-.13L228.6,578.86a24,24,0,0,1,.14-33.94l17-16.9a24,24,0,0,1,33.94.14l138,139.06L744.55,343a24,24,0,0,1,33.94.14l16.91,17a24,24,0,0,1-.14,33.94Z"
                  transform="translate(-16 -16)"
                />
                <path
                  class="cls-2"
                  d="M795.26,394.08l-361,358.06a24,24,0,0,1-33.94-.13L228.6,578.86a24,24,0,0,1,.14-33.94l17-16.9a24,24,0,0,1,33.94.14l138,139.06L744.55,343a24,24,0,0,1,33.94.14l16.91,17a24,24,0,0,1-.14,33.94Z"
                  transform="translate(-16 -16)"
                />
              </svg>
            </i>
            Highly trained surgeons, dermatologists, therapists </span>
        </p>
        <p>
          <span>
            <i class="">
              <svg
                id="Layer_1"
                data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 992 992"
                style="width: 2rem;"
              >
                <defs>
                  <style>.cls-1{fill:#00ce6b;}.cls-2{fill:#089b51;}</style>
                </defs>
                <title>success</title>
                <path
                  class="cls-1"
                  d="M512,16C238.07,16,16,238.07,16,512s222.07,496,496,496,496-222.07,496-496S785.93,16,512,16ZM795.26,394.08l-361,358.06a24,24,0,0,1-33.94-.13L228.6,578.86a24,24,0,0,1,.14-33.94l17-16.9a24,24,0,0,1,33.94.14l138,139.06L744.55,343a24,24,0,0,1,33.94.14l16.91,17a24,24,0,0,1-.14,33.94Z"
                  transform="translate(-16 -16)"
                />
                <path
                  class="cls-2"
                  d="M795.26,394.08l-361,358.06a24,24,0,0,1-33.94-.13L228.6,578.86a24,24,0,0,1,.14-33.94l17-16.9a24,24,0,0,1,33.94.14l138,139.06L744.55,343a24,24,0,0,1,33.94.14l16.91,17a24,24,0,0,1-.14,33.94Z"
                  transform="translate(-16 -16)"
                />
              </svg>
            </i>
            15 years experience on average</span>
        </p>

      </div>
      <div class="col-2-of-4 container--flex--white purple-card">
        <h3 class="heading--green">HOW IT WORKS </h3>
        <p class=" ">
          <i class="bullet-number">1.</i><span> Request a visit with a doctor 24 hours a day, 365 days a year, by web
            or phone</span>
        </p>
        <p>
          <i class="bullet-number">2.</i>
          <span> Talk to the doctor. Ask as many questions as you need anytime, anyday
            there’s no limit!</span>
        </p>
        <p>
          <i class="bullet-number">3.</i>
          <span>In case that you need a surgery, you will receive support to make your
            travel
            and recovery extremely easy
          </span>
        </p>

      </div>
    </div>
  </div>
</section>

<section class="spacer-title">
  <h3 class=" subtitle"> REMOTE HEALTHCARE</h3>
  <h4 class="subtitle--h4">Don't look for doctors, Doctors will reach to you to serve you the best, we also offer
    unlimited consultations</h4>
</section>


<section>
  <div class="container">
    <div class="row background-shape">
      <div class="icon__container--center">
        <i class="icon--green-center icon-apointments"></i>
      </div>
      <h2 class="subtitle">
        SURGERIES REASONABLY PRICED
      </h2>
      <i class="subtitle__small">WE OFFER THE BEST PRICES FROM HIGEST EXPERIENCED DOCTORS</i>


      <div class="container--flex">
        <div class="col-2-of-4 container--flex--white">
          <h3 class="heading--green">About surgeries </h3>
          <p class="c__content small">
            In case that you need a surgery you will be able to save up tp 80%.
            In the following chart you can see the diference in prices in the USA compared to Mexico
            When you are given a estimated price for your surgery, this will cover( Hospital, Surgery, Meterials and
            post surgery medications) no bills will be issue after your surgery
          </p>
        </div>
        <div class="col-2-of-4">
          <button
            type="button"
            (click)="animateChart()"
          >ANIMATE</button>
          <!-- <img
            src="https://i.pinimg.com/564x/ee/ce/69/eece69911872e2de635e0ef38d5ab46e.jpg"
            alt="image"
          > -->

          <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <!-- <?xml version="1.0" encoding="iso-8859-1"?> -->
          <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 113 91"
            style="enable-background:new 0 0 113 91;"
            xml:space="preserve"
          >
            <g id="Chart-Grid">
              <path
                style="fill:none;stroke:#000000;stroke-miterlimit:10;"
                d="M-27.5-26.5"
              />
              <path
                style="fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;"
                d="M20.5,88.032"
              />
              <path
                style="fill:#2E3192;"
                d="M20.4,87.932"
              />
              <g>
                <rect
                  x="7.772"
                  y="75.62"
                  style="fill-rule:evenodd;clip-rule:evenodd;fill:none;"
                  width="11.688"
                  height="3.84"
                />
                <text
                  transform="matrix(1 0 0 1 7.7715 78.4601)"
                  style="font-family:'MyriadPro-Regular'; font-size:4px;"
                >5K</text>
                <rect
                  x="7.772"
                  y="65.62"
                  style="fill-rule:evenodd;clip-rule:evenodd;fill:none;"
                  width="11.688"
                  height="3.84"
                />
                <text
                  transform="matrix(1 0 0 1 7.7715 68.4601)"
                  style="font-family:'MyriadPro-Regular'; font-size:4px;"
                >10K</text>
                <rect
                  x="7.772"
                  y="55.62"
                  style="fill-rule:evenodd;clip-rule:evenodd;fill:none;"
                  width="11.688"
                  height="3.84"
                />
                <text
                  transform="matrix(1 0 0 1 7.7715 58.4601)"
                  style="font-family:'MyriadPro-Regular'; font-size:4px;"
                >15K</text>
                <rect
                  x="7.772"
                  y="45.62"
                  style="fill-rule:evenodd;clip-rule:evenodd;fill:none;"
                  width="11.688"
                  height="3.84"
                />
                <text
                  transform="matrix(1 0 0 1 7.7715 48.4601)"
                  style="font-family:'MyriadPro-Regular'; font-size:4px;"
                >30K</text>
                <rect
                  x="7.772"
                  y="35.62"
                  style="fill-rule:evenodd;clip-rule:evenodd;fill:none;"
                  width="11.688"
                  height="3.84"
                />
                <text
                  transform="matrix(1 0 0 1 7.7715 38.4601)"
                  style="font-family:'MyriadPro-Regular'; font-size:4px;"
                >50K</text>
                <rect
                  x="7.772"
                  y="25.62"
                  style="fill-rule:evenodd;clip-rule:evenodd;fill:none;"
                  width="11.688"
                  height="3.84"
                />
                <text
                  transform="matrix(1 0 0 1 7.7715 28.4601)"
                  style="font-family:'MyriadPro-Regular'; font-size:4px;"
                >75K</text>
                <rect
                  x="7.772"
                  y="15.62"
                  style="fill-rule:evenodd;clip-rule:evenodd;fill:none;"
                  width="11.688"
                  height="3.84"
                />
                <text
                  transform="matrix(1 0 0 1 7.7715 18.4601)"
                  style="font-family:'MyriadPro-Regular'; font-size:4px;"
                >100K</text>

                <line
                  style="fill:none;stroke:#CCCCCC;stroke-width:0.15;stroke-miterlimit:10;stroke-dasharray:2;"
                  x1="13.565"
                  y1="69.5"
                  x2="113"
                  y2="69.5"
                />

                <line
                  style="fill:none;stroke:#CCCCCC;stroke-width:0.15;stroke-miterlimit:10;stroke-dasharray:2;"
                  x1="13.565"
                  y1="79.5"
                  x2="113"
                  y2="79.5"
                />

                <line
                  style="fill:none;stroke:#CCCCCC;stroke-width:0.15;stroke-miterlimit:10;stroke-dasharray:2;"
                  x1="13.565"
                  y1="59.5"
                  x2="113"
                  y2="59.5"
                />

                <line
                  style="fill:none;stroke:#CCCCCC;stroke-width:0.15;stroke-miterlimit:10;stroke-dasharray:2;"
                  x1="13.565"
                  y1="49.5"
                  x2="113"
                  y2="49.5"
                />

                <line
                  style="fill:none;stroke:#CCCCCC;stroke-width:0.15;stroke-miterlimit:10;stroke-dasharray:2;"
                  x1="13.565"
                  y1="39.5"
                  x2="113"
                  y2="39.5"
                />

                <line
                  style="fill:none;stroke:#CCCCCC;stroke-width:0.15;stroke-miterlimit:10;stroke-dasharray:2;"
                  x1="13.565"
                  y1="29.5"
                  x2="113"
                  y2="29.5"
                />

                <line
                  style="fill:none;stroke:#CCCCCC;stroke-width:0.15;stroke-miterlimit:10;stroke-dasharray:2;"
                  x1="13.565"
                  y1="19.5"
                  x2="113"
                  y2="19.5"
                />
                <g>
                  <g>
                    <line
                      style="fill:none;stroke:#E6E6E6;stroke-width:0.4;stroke-miterlimit:10;"
                      x1="6.5"
                      y1="16.5"
                      x2="6.5"
                      y2="89.5"
                    />
                  </g>
                  <g>
                    <line
                      style="fill:none;stroke:#E6E6E6;stroke-width:0.4;stroke-miterlimit:10;"
                      x1="6.263"
                      y1="89.5"
                      x2="108.817"
                      y2="89.5"
                    />
                  </g>
                </g>
                <line
                  style="fill:none;stroke:#E6E6E6;stroke-width:0.3;stroke-miterlimit:10;"
                  x1="2.129"
                  y1="79.5"
                  x2="11.871"
                  y2="79.5"
                />
                <line
                  style="fill:none;stroke:#E6E6E6;stroke-width:0.3;stroke-miterlimit:10;"
                  x1="2.129"
                  y1="69.5"
                  x2="11.871"
                  y2="69.5"
                />
                <line
                  style="fill:none;stroke:#E6E6E6;stroke-width:0.3;stroke-miterlimit:10;"
                  x1="2.129"
                  y1="59.5"
                  x2="11.871"
                  y2="59.5"
                />
                <line
                  style="fill:none;stroke:#E6E6E6;stroke-width:0.3;stroke-miterlimit:10;"
                  x1="2.129"
                  y1="49.5"
                  x2="11.871"
                  y2="49.5"
                />
                <line
                  style="fill:none;stroke:#E6E6E6;stroke-width:0.3;stroke-miterlimit:10;"
                  x1="2.129"
                  y1="39.5"
                  x2="11.871"
                  y2="39.5"
                />
                <line
                  style="fill:none;stroke:#E6E6E6;stroke-width:0.3;stroke-miterlimit:10;"
                  x1="2.129"
                  y1="29.5"
                  x2="11.871"
                  y2="29.5"
                />
                <line
                  style="fill:none;stroke:#E6E6E6;stroke-width:0.3;stroke-miterlimit:10;"
                  x1="2.129"
                  y1="19.5"
                  x2="11.871"
                  y2="19.5"
                />
              </g>
            </g>
            <g id="Layer_1">
              <polygon
                #usa
                style="opacity:0.83;fill:#ED1C24;"
                points="110,89.5 20.46,89.5 20.46,89.5 47,73 75.832,50 110,40 	"
              />
              <polygon
                #mexico
                style="opacity:0.83;fill:#2E3192;"
                points="110,89.5 20.779,89.5 20.779,89.5 47,85 78.209,72 110,70.5 	"
              />

              <rect
                x="5.131"
                y="1.662"
                style="fill:none;"
                width="64.703"
                height="12.11"
              />
              <text
                transform="matrix(1 0 0 1 5.1309 7.0459)"
                style="fill:#39B54A; font-family:'Roboto-Medium'; font-size:7.1787px;"
              >Knee Prostetic</text>
            </g>
          </svg>


        </div>
      </div>

    </div>
  </div>

</section>


<section class="container">
  <div class="row">
    <div class="icon__container--center">
      <i class="icon--green-center icon-apointments"></i>
    </div>
    <h3 class="subtitle">6 AND 12 MONTH MEMEBERSHIPS</h3>
    <i class="subtitle__small">GET UNLIMITED SUPPORT FROM OUR DOCTORS</i>

    <div class="col-2-of-4">
      <div class="membership row ">
        <!-- <small class=" membership__info">Valid only for one surgery</small> -->
        <div class="membership__flex">
          <div>
            <h4 class="membership__package-name">Six months support</h4>
            <button
              routerLink="/payments"
              class="membership__buy-button"
            >Buy Now</button>
          </div>


          <strong class="membership__price">$49
            <br>
            <small>per month</small>
          </strong>
          <!-- <small>This membership only includes support. Medication, surgery expenses and medication is not included</small> -->

        </div>

      </div>
    </div>

    <div class="col-2-of-4">
      <div class="membership membership--blue row ">

        <div class="membership__flex">
          <div>
            <h4 class="membership__package-name">12 months support</h4>
            <button
              routerLink="/payments"
              class="membership__buy-button"
            >Buy Now</button>
          </div>

          <strong class="membership__price">$45
            <br>
            <small>per month</small>
          </strong>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="container background-shape">
  <div class="icon__container--center">
    <i class="icon--green-center icon-cog"></i>
  </div>
  <h3 class="subtitle">IN CASE THAT YOU NEED A SURGERY</h3>
  <i class="subtitle__small">HAVE A PIRCE ON MIND BEING WITH OUR SPECIALIST AND FORGET FUTURE SURGERY BILLS</i>

  <div class="row ">

    <div class="how-it-works">

      <div class="how-it-works__steps ">
        <i class="how-it-works__triangle">
          <span>1</span>
        </i>
        <h2 class="heading--green">Decision making</h2>
        <p class="card__content small">
          After being in contact with our specialist and they have made a conclusion that
          you need a surgery you will be provided with all the information in regards
          to your procedure before, during and after the surgery
      </div>

      <div class="how-it-works__steps">
        <i class="how-it-works__triangle">
          <span>2</span>
        </i>
        <h2 class="heading--green">Receive cost</h2>
        <p class="card__content small">
          When the approval has been made from our doctors. you will be provded with detailed
          information on the final price for your surgery. and super easy steps to make your travel incredibly safe and
          easy.
        </p>
      </div>



      <div class="how-it-works__steps">
        <i class="how-it-works__triangle">
          <span>3</span>
        </i>
        <h2 class="heading--green">Get your Surgery</h2>
        <p class="card__content small">
          When the approval has been made from our doctors. you will be provded with detailed
          information and super easy steps to make your travel incredibly safe and easy.
        </p>
      </div>
    </div>

  </div>
</section>

<section>
  <div class="icon__container--center">
    <i class="icon--green-center icon-medic-service"></i>
  </div>
  <h2 class="subtitle">WHY CHOOSING OUR SERVICE?</h2>

  <div class="why-our-service row">
    <div class="col-2-of-4">
      <div class="row spacer white-card">
        <h3 class="heading--green">
          It’s only a one time payment
        </h3>
        <p class="small">
          After the sign-up fee, it’s only a one time payment which covers everything - surgical materials, hospital
          expenses, and
          doctor fees. Your travel expenses are not included.
        </p>
      </div>

      <div class="row spacer white-card">
        <h3 class="heading--green">
          No health insurance needed.
        </h3>
        <p class="small">
          No copays. No recurring bills. No need to spend a fortune on hospital fees.
        </p>
      </div>

      <div class="row spacer white-card">
        <h3 class="heading--green">
          Receive the best customer experience.
        </h3>
        <p class="small">
          Our patients’ satisfaction is extremely important to us. Need help? We got your back!
        </p>
      </div>
    </div>
    <div class="col-2-of-4">
      <div class="why-our-service__svg">
        <svg
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 595 713"
          style="enable-background:new 0 0 595 713;"
          xml:space="preserve"
        >
          <style type="text/css">
            .st1 {
              fill: url(#SVGID_2_);
            }

          </style>
          <linearGradient
            id="SVGID_2_"
            gradientUnits="userSpaceOnUse"
            x1="25.5219"
            y1="534.1224"
            x2="569.4781"
            y2="178.8776"
          >
            <stop
              offset="0"
              style="stop-color:#3023AE"
            />
            <stop
              offset="1"
              style="stop-color:#C86DD7"
            />
          </linearGradient>
          <path
            class="st1"
            d="M10.1,248.1v216.7c0,51.4,25.7,99.4,68.6,127.8l134,88.9c51.4,34.1,118.2,34.1,169.6,0l134-88.9
               c42.8-28.4,68.6-76.4,68.6-127.8V248.1c0-51.4-25.7-99.4-68.6-127.8l-134-88.9c-51.4-34.1-118.2-34.1-169.6,0l-134,88.9
               C35.9,148.8,10.1,196.7,10.1,248.1z"
          />
        </svg>
        <div class="card--featured">
          <h2 class="heading--green heading--center">TOP BEST SURGEONS</h2>
          <span class="text--center">
            <i class="icon-icon-star-large-yellow"></i>
            <i class="icon-icon-star-large-yellow"></i>
            <i class="icon-icon-star-large-yellow"></i>
            <i class="icon-icon-star-large-yellow"></i>
            <i class="icon-icon-star-large-yellow"></i>
          </span>
          <p class="text--center">We have the most experienced doctors do your surgeries.</p>
          <button class="button--action">SPECIALIST AVAILABLE</button>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="row background-shape">
    <div class="icon__container--center">
      <i class="icon--green-center icon-doctor"></i>
    </div>
    <h3 class="subtitle">
      LIST OF QUALIFIED SPECIALIST IN MEXICO
    </h3>
    <i class="subtitle__small"> LIST OF ALL OUR SPECIALIZED DOCTORS</i>

    <div
      id="specialist"
      class="doctors-table"
    >
      <table style="width:100%">
        <tr>
          <th>Surgeon</th>
          <th>Common Surgeries</th>
          <th class="text--right available-title">Available</th>
        </tr>

        <tr>
          <td>Orthopedic surgeon</td>
          <td>Hip Replacement</td>
          <td class="table-text--right available"></td>
        </tr>
        <tr>
          <td>Orthopedic surgeon</td>
          <td>Bone Marrow Transplant</td>
          <td class="table-text--right available"></td>
        </tr>
        <tr>
          <td>Orthopedic surgeon</td>
          <td>Knee Replacement</td>
          <td class="table-text--right available"></td>
        </tr>
        <tr>
          <td>Orthopedic surgeon</td>
          <td>Osteoarthritis</td>
          <td class="table-text--right available"></td>
        </tr>
        <tr>
          <td>Cardiologist</td>
          <td>Coronary artery bypass graft </td>
          <td class="table-text--right available"></td>
        </tr>
        <tr>
          <td>Cardiologist</td>
          <td>Angioplasty </td>
          <td class="table-text--right available"></td>
        </tr>

        <tr>
          <td>Plastic surgeons</td>
          <td>Lower Body Lift </td>
          <td class="table-text--right available"></td>
        </tr>
        <tr>
          <td>Plastic surgeons</td>
          <td>Chin implant </td>
          <td class="table-text--right available"></td>
        </tr>
        <tr>
          <td>Plastic surgeons</td>
          <td>Rhinoplasty (nose job) </td>
          <td class="table-text--right available"></td>
        </tr>
        <tr>
          <td>And many more!</td>
          <td class="table-text--right available"></td>
        </tr>

      </table>
    </div>
  </div>

</section>


<section>
  <div class="row faq">
    <div class="icon__container--center">
      <i class="icon--green-center icon-plane"></i>
    </div>
    <h3 class="subtitle">
      QUESTIONS ABOUT COMING TO MEXICO?
    </h3>
    <i class="subtitle__small"> WE HAVE MANY YEARS OF EXPERIENCE TAKING CARE OF PATIENTS FROM OVERSEAS</i>


    <div
      id='questions'
      class="faq__container"
    >
      <div
        #faq
        *ngFor="let item of questions"
        class="faq--is-hiden  faq--is-active"
        (click)="onToggle($event)"
      >
        <h2 class="faq__question text--blue">{{item.question}} </h2>
        <div class="faq__wrap">
          <p class="faq__answers small">{{item.response}}</p>
        </div>
      </div>
    </div>
  </div>
</section>



<app-footer></app-footer>
