.hero {
  width: 100vw;
  margin-left: -30px;
  position: relative;

  small {
    color: #7180ef;
    margin-left: .5rem;
    display: none;
    @include tablet2{
      display: inline-block;
    }
  }
}
